/*Este achivo tiene todos los estilo de los componentes*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin:0;
    padding:0;

}
body{
    background-color: #F9F8FD !important;
}
#barPlotAle {
    height: 300px;
    width: 100%;
}
.histPlotAle {
    background-color: blue;
    border-color: lightblue;
}

#textInputAle {
    color: green;
    font-family: "Times New Roman";
    font-style: oblique;
    font-size: 20px;
}

#sliderInput {
    width: 50%;
}

.dataTables_scrollBody table {
    background-color: purple !important;
}
.dataTables_scrollHead table {
    background-color: purple !important;
}

#myTableBox .box {
    background-color: purple !important;
}
.main-panel {
    position: absolute;
    left: 266px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

/*HEADER*/

#empresa-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 60px 19px 40px;
    gap: 820px;
    position: relative;
    left: 232px;
    width: 1188px;
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    margin-block: 0 20px;
}
.imagen-empresa-header{
    vertical-align: middle;
    position: relative;
    width: 180px;
}
.empresa-header-grupo {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;

}
.empresa-header-grupo .campana {
    position: relative;
    width: 19px;
    height: 22px;
    background-image:  url('../img/campana.svg');
    background-size: cover;
    background-repeat: no-repeat;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.empresa-header-grupo .perfil{
    position: relative;
    width: 37px;
    height: 37px;
    box-sizing: border-box;


    border: 1px solid #BFC0C0;


    flex: none;
    order: 1;
    flex-grow: 0;

    border-radius: 80px;
}

.menu-administrador {
    width: 230px;
    height: 989px;
    position: absolute;
    left: -15px;
}

.menu-administrador .group {
    position: relative;
    height: 989px;
    background-color: #001232;
}

.menu-administrador .div {
    position: relative;
    width: 193px;
    height: 833px;
    top: 117px;
    left: 25px;
}

.menu-administrador .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: absolute;
    top: 210px;
}

.menu-administrador .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 5px;
    position: relative;
    flex: 0 0 auto;
    top: 10px;
}



.menu-administrador .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Poppins', Helvetica;
    font-weight: 400;
    color: #6a7384;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 20.5px;
    white-space: nowrap;
    left: 15px;
}

.menu-administrador .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    filter: drop-shadow(0px 8px 24px rgba(0, 19, 50, 0.15));
}

/*value Box*/
.value-box1{
    width: 550px !important;
    height: 128px !important;
    border-color: #FFFFFF !important;
    border-left: 15px solid #00a7c5 !important;

}
.value-box2{
    width: 550px !important;
    height: 128px !important;
    border-color: #FFFFFF !important;
    border-left: 15px solid #845EC2 !important;

}
.value-box3{
    width: 264px !important;
    Height: 129px !important;
    border-color: #FFFFFF !important;
}
.value-box-icon{
    margin-left: -60px;
}
.value-box-title {
    height: 22px;
    color: #9ca4c3;
    font-family: Poppins, sans-serif;
    font-size: 13px !important;
    font-weight: 600 !important;
    text-align: left;
    margin-left: -70px;
    margin-bottom: 0 !important;
    margin-top: -5px !important;
}
.value-box-text-2 {
    flex-shrink: 0 !important;
    flex-basis: auto !important;
    height: 44px;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 26px !important;
    font-weight: 700 !important;
    line-height: 40px !important;

    margin-left: -70px;
}
.value-box-text-3 {
    flex-shrink: 0 !important;
    flex-basis: auto !important;
    height: 17px;
    color: #969696;
    font-family: Poppins, sans-serif;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 0 !important;
    margin-left: -70px;
}
.value-box3 .value-box-title {
    height: 22px;
    color: #9ca4c3;
    font-family: Poppins, sans-serif;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-align: left;

    margin-bottom: 0 !important;
    margin-top: -5px !important;
    margin-left: 0px;
}
.value-box3 .value-box-text-2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 44px;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 26px !important;
    font-weight: 700 !important;
    line-height: 44px !important;
    text-align: left !important;
    white-space: nowrap !important;
    letter-spacing: -0.39px !important;
    z-index: 2;
    margin-left: 0px;


}
.value-box3 .value-box-text-3 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #969696;
    font-family: Poppins, sans-serif;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 17px !important;
    text-align: left !important;
    white-space: nowrap !important;
    letter-spacing: 0.15px !important;
    z-index: 6 !important;
    margin-left: 0px;
}
    /*Card1*/
.card {
    margin-block: 1rem !important;
    width: 18rem;
}
.card .card-header{
    position: relative;
    width:100%;
    height: 178px;
    top: 0;
    left: 0;
    background-color: #E8E9F1;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Card2*/

.card2 {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 13px;
    position: relative;
    width: 550.5px;
    height: 129px;
    margin-block: 20px;
    padding: 17px 37px 17px 37px;
    background: #ffffff;
    border-radius: 5px;
}

.card2 .box {
    flex-shrink: 0;
    position: absolute;
    width: 12px;
    height: 129px;
    top: 0;
    left: 0;
    background: #00a7c5;
    z-index: 7;
    border-radius: 5px 0 0 5px;
}

.card2 .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 243px;
}

.card2 .pic {
    flex-shrink: 0;
    position: relative;
    width: 54px;
    height: 72px;
    background-size: cover;
    z-index: 1;
}

.card2 .box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 1px;
    position: relative;
    width: 157px;
    z-index: 2;
}

.card2 .text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #9ca4c3;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.2px;
    z-index: 3;
}

.card2 .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -7px;
    position: relative;
    width: 103px;
    z-index: 4;
}

.card2 .text-2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 44px;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.39px;
    z-index: 5;
}

.card2 .text-3 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #969696;
    font-family: Poppins, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 6;
}
/*Copia*/
.card bs4Dash card-primary card-outline {

}

/*Card3*/
.card3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 13px;
    position: relative;
    width: 264px;
    padding: 17px 37px 17px 37px;
    background: #ffffff;
    border-radius: 5px;
    margin-block: 20px;
}

.card3 .text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #9ca4c3;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.521px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.18px;
}

.card3 .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 103px;
    z-index: 1;
}

.card3 .text-2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 44px;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.39px;
    z-index: 2;
}

.card3 .text-3 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #969696;
    font-family: Poppins, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 3;
}
/*Input*/
.input-label{
    font-family: 'Poppins', Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 171.01%;
    letter-spacing: 0.015em;
}
.shiny-bound-input{
    box-sizing: border-box;
    position: relative;
    width: 360px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #D8D6D6;
    border-radius: 5px;
    padding-left: 18px;
    font-family: 'Poppins', Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.004em;
    color: #000000;
}
.my-placeholder-class::placeholder {
    position: absolute;
    width: 150px;
    height: 15px;
    top:10px;
    left: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.004em;
    color: #676666;
}
.error-input {
    border-color: red !important;
    color: red !important;

}
.error-mensaje-input {
    position: absolute;
    width: 132px;
    height: 15px;
    /* caption */
    font-family: 'Poppins',Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.004em;
    color: #D80027;
}
.calendar{
    position: absolute !important;
    margin-top: 12px;
    margin-left: -15px;
    width: 12px !important;
    height: 13px !important;
    background-color: white;
    background-image: url('../img/calendar.svg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

/*Boton-Vikua*/

.boton-vikua {
    border: 1px solid transparent !important;
    cursor: pointer;
    touch-action: manipulation;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 17px;
    position: relative;
    background: #FFFFFF !important;
    border: 1px solid #D7D8E1 !important;
    padding: 0px 50px 0px 10px !important;
    color: #001332 !important;
    width: max-content !important;
    height: 40.2px;
    font-family: 'Poppins', Helvetica !important;
    border-radius: 5px;
    font-weight: 400 !important;
    font-size: 13px !important;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
}
.boton-vikua:hover {
    background: linear-gradient(270deg, #FFD83E 0%, #3BBEFC 100%) !important; ;
    color: #ffffff !important;
    width: max-content !important;
    height: 40.2px;
}
.boton-vikua:active {
    display: flex;
    width: max-content !important;
    height: 40.2px;
    align-items: center;
    gap: 17px;
    padding: 0px 50px 0px 10px !important;
    position: relative;
    background: #192072 !important;
    box-sizing: border-box;
    border-radius: 5px !important;
    color: #ffffff !important;
    border-color:transparent !important;
    font-family: "Poppins", Helvetica;
    font-weight: 500 !important;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
    background-image: none;
}

.texto-boton-vikua {
    position: relative;
    font-weight: 400;
    block-size: auto;
    white-space: nowrap;
    margin-top: -3px;
}
.boton-vikua-base {
    display: inline-flex;
    flex-direction: row;
    gap:17px;
}

/*boton-sidebar*/
.boton-sidebar {
    border: 1px solid transparent !important;
    cursor: pointer;
    touch-action: manipulation;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 17px;
    position: relative;
    background: #001232 !important;
    padding: 10px 15px !important;
    width: 193px;
    font-family: "Poppins", Helvetica !important;
    font-weight: 400;
    color: #6a7384 !important;
    font-size: 13px !important;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
}
.boton-sidebar:hover {
    background: #001232 !important;
    color: #ffffff !important;
}
.boton-sidebar:active {
    display: flex;
    width: 193px;
    align-items: center;
    gap: 17px;
    padding: 10px 15px;
    position: relative;
    background: #0089ba !important;
    box-sizing: border-box;
    border-radius: 5px !important;
    color: #ffffff !important;
    border-color:transparent !important;

    font-family: "Poppins", Helvetica;
    font-weight: 500 !important;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
    background-image: none;

}
.bttn-unite.bttn-default {
    font-family: "Poppins", Helvetica !important;
    cursor: pointer !important;
    touch-action: manipulation !important;
    box-sizing: border-box !important;
    display: inline-flex !important;
    align-items: center !important;
    gap: 17px !important;
    position: relative !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    padding: 0px 50px 0px 10px !important;
    color: transparent !important;
    width: max-content !important;
    height: 40.2px !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    letter-spacing: 0.2px !important;
    line-height: 22.2px !important;
    white-space: nowrap !important;
}
/*.bttn-no-outline, .bttn-no-outline:active{
    outline: none;
    display: flex !important;
    width: max-content !important;
    height: 40.2px !important;
    align-items: center !important;
    gap: 17px !important;
    padding: 0px 50px 0px 10px !important;
    position: relative !important;
    background: #192072 !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    border-color: transparent !important;
    font-family: "Poppins", Helvetica !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    letter-spacing: 0.2px !important;
    line-height: 22.2px !important;
    white-space: nowrap !important;
    background-image: none !important;
}*/
/*Dropdown*/
.selectize-label{
    font-family: 'Poppins', Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 171.01%;
    letter-spacing: 0.015em;
}
.selectize-dropdown {
     box-shadow:unset !important;
}
.selectize-input>input{
    line-height: 20px !important;
}
.selectize-input>* {
    vertical-align: baseline;
    display: inline-block;
    zoom: 1;
    font-family: "Poppins",Helvetica !important;
    background: #FFFFFF !important;
    width: max-content !important;
    font-style: normal !important;
    font-weight: 450 !important;
    font-size: 10px !important;
    line-height: 20px !important;
    letter-spacing: 0.004em !important;
    color: black !important;
}

.selectize-input.full {
    box-sizing: border-box !important;
    background: #ffffff !important;
    border: 1px solid #D8D6D6;
    border-radius: 5px;
}

.selectize-dropdown .active:not(.selected) {
    color: #3BBEFC !important;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input  {
    cursor: pointer;
    line-height: 22px !important;
}
selectize-input>input[placeholder] {
    box-sizing: initial;
    line-height: 22.2px !important;
    color: #6a7384 !important;
    font-size: 13px !important;
    letter-spacing: 0.2px !important;
    white-space: nowrap !important;
}
.selectize-dropdown, .selectize-dropdown.form-control {
     box-shadow: unset !important;
}
.selectize-dropdown, .selectize-input, .selectize-input  {
    font-family: "Poppins", Helvetica !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 15px !important;
    letter-spacing: 0.004em !important;
    color: #676666 !important;
}
.selectize-input.focus {
    border-color: #D8D6D6 !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgb(255, 255, 255),0 0 8px rgb(255, 255, 255) !important;
}
.selectize-control.single .selectize-input:not(.no-arrow):after {
    border-color: unset !important;
    border-style: unset !important;
    border-width: unset !important;
    right: unset !important;
    content: " " !important;
    display: block !important;
    position: absolute !important;
    top: 15% !important;
    left: 263px !important;
    margin-top: 8px !important;
    width: 12px !important;
    height: 8px !important;
    background-image: url('../img/vikua-home-platform-desktop.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}
.selectize-control.single .selectize-input:not(.no-arrow).dropdown-active:after {
    margin-top: 8px !important;
    transform: rotate(180deg) !important;
    border-width: unset !important;
    border-color: transparent transparent #333 transparent !important;
    color: #000000 !important;
}
.selectize-dropdown,.selectize-dropdown.form-control {
    height: auto !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    margin: -5px 0 0 0 !important;
    z-index: 1000 !important;
    background: #ffffff !important;
    border: unset !important;
    border-left: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0px 0px 5px 5px !important;
}
.selectize-dropdown .selected {
    background-color: #fff !important;
    color: #001332 !important;
    font-weight: 500 !important;
    padding-left: 80px; /* Espacio para el icono */
    background-image: url('../img/check.svg'); /* Ruta al archivo del icono */
    background-repeat: no-repeat; /* Evita que el icono se repita */
    background-position: left center; /* Posiciona el icono a la izquierda y centrado verticalmente */
}
.group-2 {
    position: relative;
    width: 15px;
    height: 15px;
}

.rectangle {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 0;
    border-radius: 1px;
    border: 1px solid;
    border-color: #6a7384;
}

.rectangle-2 {
    position: absolute;
    width: 7px;
    height: 8px;
    top: 0;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #6a7384;
}

.rectangle-3 {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 10px;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #6a7384;
}
.rectangle:active:hover {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 0;
    border-radius: 1px;
    border: 1px solid;
    border-color: #ffffff;
}

.rectangle-2:hover:active {
    position: absolute;
    width: 7px;
    height: 8px;
    top: 0;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #ffffff;
}

.rectangle-3:hover:active {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 10px;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #ffffff;
}


.text-wrapper-2 {
    position: relative;
    margin-top: -1px;
    font-family: Poppins, Helvetica;
    font-weight: 400;
    color: #6a7384;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
}

.frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: relative !important;
    top: 5px !important;
}

.frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: absolute;
    top: 520px;
}

.group-3 {
    position: absolute;
    width: 195px;
    height: 227px;
    top: -40px;
}

.text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 20px;
    font-family: 'Poppins', Helvetica;
    font-weight: 400;
    color: #6a7384;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 20.5px;
    white-space: nowrap;
}




.text-wrapper-4 {
    position: relative;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
}

.frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: absolute;
    top: 40px;
}

.menu-administrador .overlap-group {
    position: absolute;
    height: 103px;
    top: -135px;
    left: -30px;

}

.menu-administrador .overlap {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 35px;
    left: 25px;
    border-radius: 5px;
}

.rectangle-7 {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: #0089c8;
    border-radius: 5px;
    opacity: 0.2;
}

.menu-administrador .img {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 7px;
    left: 7px;
    background-image: url('../img/group-1.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-administrador .group-4 {
    position: absolute;
    width: 14px;
    height: 15px;
    top: 45px;
    left: 204px;
}

.menu-administrador .rectangle-8 {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #fcd900;
    border-radius: 3px 0px 0px 3px;
}

.menu-administrador .rectangle-9 {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 7px;
    background-color: #566178;
    border-radius: 3px 0px 0px 3px;
    transform: rotate(180deg);
}

plotlyOutput {
    width: fit-content(100%);
    height: fit-content(100%); /* Ajusta este valor a la altura máxima que desees para el gráfico */
}
.dashboard{
    min-height: 990px;
}

.tab1{
    display: none;
}

.hidden-text {
    display: none;
}