@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    background-color: #F9F8FD !important;
}
#barPlotAle {
    height: 300px;
    width: 100%;
}
.histPlotAle {
    background-color: blue;
    border-color: lightblue;
}

#textInputAle {
    color: green;
    font-family: "Times New Roman";
    font-style: oblique;
    font-size: 20px;
}

#sliderInput {
    width: 50%;
}

.dataTables_scrollBody table {
    background-color: purple !important;
}
.dataTables_scrollHead table {
    background-color: purple !important;
}

#myTableBox .box {
    background-color: purple !important;
}
.main-panel {
    position: absolute;
    left: 266px;
    top: 100px;
}
#miImagen{
    vertical-align: middle;
    position: relative;
    width: 180px;
}
#empresa-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 60px 19px 40px;
    gap: 10px;
    position: absolute;
    width: 1188px;
    height: 75px;
    left: 230px;
    top: 5px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}
.menu-administrador {
    width: 230px;
    height: 989px;
    position: absolute;
    left: -5px;
}

.menu-administrador .group {
    position: relative;
    height: 989px;
    background-color: #001232;
}

.menu-administrador .div {
    position: relative;
    width: 193px;
    height: 833px;
    top: 117px;
    left: 25px;
}

.menu-administrador .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: absolute;
    top: 210px;
}

.menu-administrador .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 5px;
    position: relative;
    flex: 0 0 auto;
    top: 10px;
}



.menu-administrador .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Poppins', Helvetica;
    font-weight: 400;
    color: #6a7384;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 20.5px;
    white-space: nowrap;
    left: 15px;
}

.menu-administrador .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    filter: drop-shadow(0px 8px 24px rgba(0, 19, 50, 0.15));
}
.boton-vikua {
    border: 1px solid transparent;
    cursor: pointer;
    touch-action: manipulation;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 17px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D7D8E1;
    padding: 10px 15px;
    color:#001332;
    width: 193px;
    margin-top: -1px;
    font-family: 'Poppins', Helvetica;
    border-radius: 5px ;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
}

.boton-vikua:active {
    display: flex;
    width: 193px;
    align-items: center;
    gap: 17px;
    padding: 10px 15px;
    position: relative;
    background: #192072 !important;
    box-sizing: border-box;
    border-radius: 5px !important;
    color: #ffffff !important;
    border-color:transparent !important;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500 !important;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
    background-image: none;
}
.boton-vikua:hover {
    background: linear-gradient(270deg, #FFD83E 0%, #3BBEFC 100%);  ;
    color: #ffffff;
}

.menu-administrador .group-2 {
    position: relative;
    width: 15px;
    height: 15px;
}

.menu-administrador .rectangle {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 0;
    border-radius: 1px;
    border: 1px solid;
    border-color: #6a7384;
}

.menu-administrador .rectangle-2 {
    position: absolute;
    width: 7px;
    height: 8px;
    top: 0;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #6a7384;
}

.menu-administrador .rectangle-3 {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 10px;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #6a7384;
}

.menu-administrador .text-wrapper-2 {
    position: relative;
    margin-top: -1px;
    font-family: 'Poppins', Helvetica;
    font-weight: 400;
    color: #6a7384;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
}

.menu-administrador .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: relative !important;
    top: 5px !important;
}

.menu-administrador .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: absolute;
    top: 520px;
}

.menu-administrador .group-3 {
    position: absolute;
    width: 195px;
    height: 227px;
    top: -40px;
}

.menu-administrador .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 20px;
    font-family: 'Poppins', Helvetica;
    font-weight: 400;
    color: #6a7384;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 20.5px;
    white-space: nowrap;
}



.menu-administrador .rectangle-4:active:hover {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 0;
    border-radius: 1px;
    border: 1px solid;
    border-color: #ffffff;
}

.menu-administrador .rectangle-5:hover:active {
    position: absolute;
    width: 7px;
    height: 8px;
    top: 0;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #ffffff;
}

.menu-administrador .rectangle-6:hover:active {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 10px;
    left: 8px;
    border-radius: 1px;
    border: 1px solid;
    border-color: #ffffff;
}

.menu-administrador .text-wrapper-4 {
    position: relative;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22.2px;
    white-space: nowrap;
}

.menu-administrador .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    position: absolute;
    top: 40px;
}

.menu-administrador .overlap-group {
    position: absolute;
    height: 103px;
    top: -135px;
    left: -30px;

}

.menu-administrador .overlap {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 35px;
    left: 25px;
    border-radius: 5px;
}

.menu-administrador .rectangle-7 {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: #0089c8;
    border-radius: 5px;
    opacity: 0.2;
}

.menu-administrador .img {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 7px;
    left: 7px;
    background-image: url('../img/group-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-administrador .group-4 {
    position: absolute;
    width: 14px;
    height: 15px;
    top: 45px;
    left: 204px;
}

.menu-administrador .rectangle-8 {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #fcd900;
    border-radius: 3px 0px 0px 3px;
}

.menu-administrador .rectangle-9 {
    position: absolute;
    width: 7px;
    height: 15px;
    top: 0;
    left: 7px;
    background-color: #566178;
    border-radius: 3px 0px 0px 3px;
    transform: rotate(180deg);
}


.dashboard{
    min-height: 990px;
}

.tab1{
    display: none;
}

